h1 {
    text-align: center;
    font-size: 75px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    margin: 10px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    background-color: #99e6FF;
}

ul {
    list-style-type: none;
}

.tweet {
    margin: 5px auto 5px auto;
    border: 4px solid #FFB84D;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    background-color: #fff;
}

.updateButton {
    display: block;
    text-align: center;
    margin:0 auto;
    padding: 5px;
}
.user {
    font-weight: bold;
}
.timestamp {
    font-size: 14px;
    color: #999;
}