h1 {
    text-align: center;
}

body {
    background-color: #99e6FF;
}

ul {
    list-style-type: none;
}

.tweet {
    margin: 5px auto 5px auto;
    border: 4px solid #fff;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
}

.updateButton {
    display: block;
    text-align: center;
    margin:0 auto;
}